<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleIndex.css">
    <script type="module" src="/static/js/appIndex.js"></script>
    <title>Document</title>
</head>
<body>
    <h1> USER CONSULTATION </h1>
    <div> <img src="/static/images/consult.png"/> </div>
    <label> Identificacion </label> <input id="id"> <br> <br>
    <textarea id="txtData"> </textarea> <br> <br> <br> <br> <br> 
    <a href="register_page"> Register</a> <br> <br>
    <button id="btnConsult"> Consult </button>
</body>
</html>